<footer >
    <form class="form-email" action="">
        <input type="email" name="email" id="email-novedades" placeholder="Déjanos tu mail para más novedades">
        <button class="send"> <strong> Enviar </strong></button>
    </form>
<div class="footer-style">
    <section class="footerSection">
        <p class="footer-name">Redes</p>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://ar.pinterest.com/"><i class="fab fa-pinterest"></i></a>
    </section>        
    <div class="footerSection">
        <a href="/"><img src="/img/logo-doble.png"  class="logo-footer" alt="logo"></a>
    </div>
    <section class="footerSection">
        <p class="footer-name">Contacto</p>
        <a href="#" ><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-solid fa-map"></i></a>
        <a href="#"><i class="fa-solid fa-phone"></i></a>
    </section>
</div>

</footer>