<header class="nav">
    <div class="productcard-header-icon">
    <a href="/"><img src="IMG/essenciana-logo-white.png"  class="logo" alt=""></a>
    </div>
    <div class="productcard-header-actions">
        <a href="#"><i class="fas fa-search" style="padding: 3%;"></i></a>
        <a href="/ProductCart"><i class="fa-solid fa-cart-shopping"style="padding: 3%;" ></i></a>
        <a href="/login"><i class="fas fa-user" style="padding: 3%;"></i></a>
    </div>
</header>