<header class="nav">
    <div class="productcard-header-icon">
    <a href="/"><img src="/img/essenciana-logo-white.png"  class="logo" alt="logo-essenciana"></a>
    </div>
    <div class="productcard-header-actions">
        <a href="/products/admin" ><i class="fa-solid fa-gear icons-style"></i></a>       
        <a href="#"><i class="fas fa-search icons-style"></i></a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping icons-style"></i></a>
        <a href="/users/login"><i class="fas fa-user icons-style"></i></a>
    </div>
</header>