<header class="nav">
    <% if (datos.activar) { %>     
    <div class="header__navbar-logo">
        <a href="/"><img src="/img/logo-doble.png"  class="logo" alt="logo-essenciana"></a>
    </div>
    <% } else {  %>
    <div class="header__navbar-logo">
        <a href="/"><img src="/img/logo-doble.png"  class="logo" alt="logo-essenciana"></a>
    </div>
    <div class="box-input">
        <form class="search-bar" action="">
            <input class="input-search" type="search" id="search" name="search" placeholder="Buscar productos, marcas"/>
            <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button> 
        </form>
    </div>
    <input type="checkbox" id="brg-menu">
    <label for="brg-menu" class="abrir-menu"><i class="fa-solid fa-bars"></i></label>
    <div class="header__navbar-items">
        <ul class="nav-menu">
            <li>
                <a href="/users/login">
                    <% if (locals.isLogged) { %>
                        Hola, <%= locals.userLogged.first_name %>
                    <% } else { %>
                        <i class="fas fa-user icons-style"></i> <span>Usuario</span>
                    <% } %>
                </a>
                <ul>
                    <% if(locals.isLogged){ %>
                        <li><a class="user-perfil" href="/users/profile">Perfil</a></li>
                        <li>
                            <form action="/users/logout" method="POST">
                                <button class="button-logout" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                            </form>
                        </li>
                    <% }else{ %>
                        <li><a class="items-nav" href="/users/login">Ingresar</a></li>
                        <li><a class="items-nav" href="/users/register">Registrarse</a></li>
                    <% } %>
                </ul>
            </li>
            <li><a href="/products/cart"><i class="fa-solid fa-cart-shopping icons-style"></i><span>Carrito</span></a></li>
            <% if (isAdmin) { %>
            <li><a href="/products/admin"><i class="fa-solid fa-gear icons-style"></i><span>Admin</span></a></li>
            <% } %>
        </ul>
    </div>
<% } %>
</header>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const abrirMenu = document.querySelector(".abrir-menu");
    const navMenu = document.querySelector(".header__navbar-items");

    abrirMenu.addEventListener("click", function() {
        navMenu.classList.toggle("active");
    });
});

</script>
