body {
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.mobile-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #627281;
    border-bottom: 0px solid #ddd;
}

.header-icon {
    font-size: 1.5em;
    font-weight: bold;
}

.header-actions i {
    margin-left: 15px;
    font-size: 1.2em;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #eeeeee;
}

.product-list {
    flex: 1;
    padding: 10px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 60px;
    height: 60px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin-right: 10px;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-code {
    font-size: 0.9em;
    color: #6c757d;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.1em;
    color: #dc3545;
}

.product-quantity {
    float:inline-end;
    display: inline-block;
    align-items:center;
}

.quantity-btn,
.remove-btn {
    float: inline-end;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor:col-resize;
    outline: none;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover,
.remove-btn:hover {
    background-color: #f1f1f1;
}

.quantity-number {
    float: inline-end;
    font-size: 1.2em;
    margin: 0 10px;
}

.remove-btn {
    float: right;
    background-color: #cb8a58;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.remove-btn:hover {
    float: right;
    background-color: #562b1a;
}

footer {
    background-color: #627281;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.total-amount {
    font-size: 1.2em;
    color: #eeeeee;
    font-weight: bold;
    margin-bottom: 0px 10px;
}

.shipping-info {
    color: #eeeeee;
    margin-bottom: 10px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-btn {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    background-color: #eeeeee;
    border: 2px solid #8e8e8e;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.footer-btn:hover {
    background-color: #8e8e8e;
    color: #eeeeee;
    transition: background-color 0.3s ease;

}

.pay-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #cb8a58;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pay-btn:hover {
    background-color: #562b1a;
    color: #ffffff;
}

.payment-section {
    width: 20%;
    text-align: center;
    margin-top: 10px;
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 600px) {
    .product-item {
        flex-direction:row;
        align-items: flex-start;
    }
    .product-quantity {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-left, .footer-right {
        width: 100%;
        align-items: center;
    }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    .product-item {
        flex-direction: row;
        align-items: center;
    }
    .product-quantity {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-left, .footer-right {
        width: auto;
    }
}

/* Desktops */
@media (min-width: 1024px) {
    .product-item {
        flex-direction: row;
        align-items: center;
    }
    .product-quantity {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-left, .footer-right {
        width: auto;
    }
}

