*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.register__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.register__form{
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #eeeeee;
    box-shadow: 10px 10px 40px black;
}

.register__form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.register__form input[type="text"],
.register__form input[type="email"],
.register__form input[type="tel"],
.register__form input[type="date"],
.register__form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}

.register__form input[type="checkbox"] {
    margin-right: 10px;
}

.register__form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4A4E69;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register__form button:hover {
    background-color: #22223B;
}

.register__required--red{
    color: red;
}
