<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essenciana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="fonts.google.com/specimen/Playfair+Display?preview.text=Holanda%20como%20andamos">
    <link rel="stylesheet" href="CSS/styleIndex.css">
</head>
<body>
    <header class="nav">
        <div class="productcard-header-icon">
        <a href="/"><img src="IMG/essenciana-logo-white.png"  class="logo" alt=""></a>
        </div>
        <div class="productcard-header-actions">
            <a href="#"><i class="fas fa-search" style="padding: 3%;"></i></a>
            <a href="/ProductCart"><i class="fa-solid fa-cart-shopping"style="padding: 3%;" ></i></a>
            <a href="/login"><i class="fas fa-user" style="padding: 3%;"></i></a>
        </div>
    </header>
            <div class="banner">
                <img src="IMG/banner2.png" alt=""> 
            </div>
        <main>
            <p class="title">Ofert치s del mes de julio!</p>           
            <section class="box-flex">
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Cortinas HiZu XXL RIEL.png" alt="Cortina Roller">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$6.770</p>
                    <p class="desc">40% OFF</p>
                    </div>
                    <p class="descripcion">Cortina Roller</p>
                    </div>
                    </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Funda de Edred칩n de Tusor Pesado CRUDO.png" alt="Sobre cama blanco">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$86.000</p>
                    <p class="desc">9% OFF</p>
                    </div>
                    <p class="descripcion">Sobre cama blanco</p>
                    </div>
                </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Ropa de cama.png" alt="Sobre cama XL">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$70.500</p>
                    <p class="desc">10% OFF</p>
                    </div>
                    <p class="descripcion">Sobre cama PACK XL</p>
                    </div>
                    </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Gasa Tusor Para Riel.png" alt="DISNEY">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$23.200</p>
                    <p class="desc">5% OFF</p>
                    </div>
                    <p class="descripcion">Cortina de DISNEY</p>
                    </div>
                    </a>
                </article>
            </section>
                <p class="title">Ingresos de la semana</p>
            <section class="box-flex">   
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Funda de Edred칩n de Tusor Pesado Gris + Fundas de Almohad칩n.png" alt="Cafetera Moulinex">
                        <div class="info">
                        <div class="box-linea">
                            <p class="precios">$45.500</p>
                        </div>
                    <p class="descripcion">Cubre cama gris</p>
                    </div>
                    </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Cortinas con riel.png" alt="Cortina Roller">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$65.000</p>
                    </div>
                    <p class="descripcion">Cortina Roller con riel</p>
                    </div>
                </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/Perfume1.png" alt="Geronio perfume">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$25.000</p>
                    </div>
                    <p class="descripcion">Geronio perfume</p>
                    </div>
                    </a>
                </article>
                <article class="modificar">
                    <a href="/productDetail">
                    <img src="IMG/perfume2.png" alt="Keep calm">
                    <div class="info">
                    <div class="box-linea">
                    <p class="precios">$22.000</p>
                    </div>
                    <p class="descripcion">Keep calm terapia</p>
                    </div>
                </a>
                </article>
            </section>
        </main>

        <footer >
            <section class="centrado">
                    <ul>
                        <h3>Nuestras redes:</h3>
                        <li><a href="#"><i class="fab fa-facebook"></i>  Essenciana</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i>  essenciana.lr</a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i>  Essenciana</a></li>
                    </ul>
                <div class="div-logo-footer">
                <img src="IMG/essenciana-logo-white.png"  class="logo-footer" alt="">
                </div>
                    <ul>
                        <h3>Contactanos:</h3>
                        <li><a href="#"><i class="fa-solid fa-phone"></i>  +5493804506892</a></li>
                        <li><a href="#"><i class="fa-solid fa-envelope"></i>  Essen@gmail.com</a></li>
                        <li><a href="#"><i class="fa-solid fa-map"></i>  Av. Rivadavia 1024</a></li>
                    </ul>
                </section>
            </footer>
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>