@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none;
}

body {
    background-color: #eeeeee;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e8e8e;
}
a {
    color: black;
}


.title {
    font-size: 30px;
    color: #393939;
    font-weight: 1000;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 7%;
}

.precios {
    font-size: 20px;
    padding-top: 5px;
    width: 40%;
    color: black;
}

.desc {
    font-size: 22px;
    color: #85938f;
    padding-top: 5px;
    padding-left: 10px;
    width: 60%;
}

.descripcion {
    font-size: 17px;
    padding-top: 15px;
    font-weight: 50%;
    color: #393939;
    display: none;
    visibility: hidden;
}


main {
    margin: 0 auto;
    width: 90%;
}
article:hover .descripcion{
    visibility: visible;
}

article:hover {
    box-shadow: 8px 0px 20px #4d4c4b;
}

.modificar{
    margin: 10px;
}

img {
    width: 100%;
}

.box-linea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
}

.info {
    display: block;
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 10px;
    position: relative;
}


footer i, a,h3{
    font-size: 1.2em;
    margin-top: 10px;
    color: #eeeeee;
}

.mobile-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

header.productcart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #627281;
    border-bottom: 0px solid #ddd;
}

.header-icon {
    font-size: 1.5em;
    font-weight: bold;
}

.header-actions i {
    margin-left: 15px;
    font-size: 1.2em;
}
.productcart-header-button{
    background-color: #627281;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
}

main.productcart-main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #eeeeee;
}

.product-list {
    flex: 1;
    padding: 10px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100px;
    height: 120px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin-right: 10px;
}



.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-code {
    font-size: 0.9em;
    color: #6c757d;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.1em;
    color: #dc3545;
}

.quantity-btn,
.remove-btn {
    float: inline-end;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor:pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover,
.remove-btn:hover {
    background-color: #f1f1f1;
}

.quantity-number {
    float: inline-end;
    font-size: 1.2em;
    margin: 0 10px;
}

.remove-btn {
    float: right;
    background-color: #cb8a58;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.remove-btn:hover {
    float: right;
    background-color: #562b1a;
}

section.productcart-section {
    background-color: #627281;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 4.9%;
}

.section-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.section-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.total-amount {
    font-size: 1.2em;
    color: #eeeeee;
    font-weight: bold;
    margin-bottom: 0px 10px;
}

.shipping-info {
    color: #eeeeee;
    margin-bottom: 10px;
}

.section-right {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}

.section-btn {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    background-color: #eeeeee;
    border: 2px solid #8e8e8e;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.section-btn:hover {
    background-color: #8e8e8e;
    color: #eeeeee;
    transition: background-color 0.3s ease;

}

.pay-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #cb8a58;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pay-btn:hover {
    background-color: #562b1a;
    color: #ffffff;
}

.payment-section {
    width: 70%;
    text-align: center;
    margin-top: 10px;
}

.product-details-img {
    max-width: 150px; 
    height: auto; 
    background-color: red;
}
.product-cart-details{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*productDetail*/

.product-detail-header-icon {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.product-detail-header-actions i {
    margin-left: 15px;
    font-size: 1.2em;
}

.product-details {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-details img {
    max-width: 300px;
    margin-right: 20px;
    background-color: red;
}

.product-description {
    flex: 1;
}

.cantidad-box {
    margin-bottom: 20px;
}

.cantidad-box label {
    display: block;
    margin-bottom: 4px;
}

.cantidad-controls {
    display: flex;
    align-items: center;
}

.cantidad-btn {
    background-color: #ee7e1c; 
    color: #fff; 
    border: none;
    padding: 2px 3px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.cantidad-btn i {
    font-size: 1em;
}

#cantidad {
    width: 60px;
    text-align: center;
    margin: 0 10px;
    padding: 4px;
    font-size: 1em;
}

.agregar-carrito-btn {
    background-color: #ee7e1c; 
    color: #fff; 
    border: none;
    padding: 2px 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.agregar-carrito-btn:hover  {
    background-color: #ee7e1c; 
}

.productos-relacionados  {
    display: flex;
    justify-content:flex-start; 
    align-items:center; 
    flex-wrap:nowrap;
    overflow: auto;
    white-space:nowrap;
    }

.producto {
    display: inline-block; 
    width: 300px; 
    margin-right: 15px;
    text-align: center; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.producto:last-child {
    margin-right: 0; 
}

.producto-imagen img {
    width: 50%; 
    height: auto; 
}
/*Register*/

.register__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.register__form{
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #eeeeee;
    box-shadow: 10px 10px 40px black;
}

.register__form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.register__form input[type="text"],
.register__form input[type="email"],
.register__form input[type="tel"],
.register__form input[type="date"],
.register__form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}

.register__form input[type="checkbox"] {
    margin-right: 10px;
}

.register__form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4A4E69;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register__form button:hover {
    background-color: #22223B;
}

.register__required--red{
    color: red;
}

/*Login*/

.login-body{
    background-color: rgba(238,238,238,255);
}

.iniciar-sesion-login {
    font-size: 25px;
    color: rgb(5, 5, 5);
    text-align: center;
    margin: 15px;
}

.user-icon{
    margin: 0 auto;
    background-color: rgb(136, 135, 135);
    text-align: center;
    border-radius: 150px 150px 0 0;
    width: 70px;
    color: #b29f91;
}

.userline{
    margin-top: 15px;
    font-size: 38px;
}

.login-box{
    background-color: white;
    width: 70%;
    height: 50%;
    border-radius: 20px;
    margin: 0 auto;
}

.form-login{
    padding: 20px;
}

.description-login{
    font-size: 16px; 
    font-style: italic;
    margin-left: 10px;
}

.span-login-red{
    color: red;
}

.input-login {
    margin: 5px;
    width: 80%;
    height: 30px;
}

.checkbox-login{
    width: 17px;
    height: 14px;
    margin-left: 25px;
}


.icons-login {
    font-size: 20px;
}


.center-login {
    text-align: center;
    
}

.fa-brands {
    font-size: 25px;
    margin: 7px;
    color: #3f3f3f;
}

.submit-login{
    background-color: #4A4E69;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin: 10px;
    padding: 3px;
    width: 80%;
    height: 30px;
} 

.submit-login:hover{
    background-color:  #22223B
}

.ancla-login {
    font-size: 15px;
    margin: 7px;
    color: #3f3f3f;
    text-align: center;
    display: block;
}

.connect-login{
    display: block;
    margin: 5px;
}
.fa-arrow-left{
    color:black
}
.arrow-back{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 320px) {

    .modificar { 
        width: 85%;
    }
    .product-details {
        display: flex;
        flex-direction: column;
    }
    .descripcion{
        display: block;
    }
    .box-flex{
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        padding: 3px;
    }
    .nav{
        max-height: 80px;
    }
    .logo{
        width: 45%;
    }
    .productcard-header-actions{
        font-size: 20px;
        width: 50%;       
    }
    .centrado {
        display: flex;
        justify-content: space-between;
        background-color: #393939;
        font-size: 75%;
        
    }
    .logo-footer{
        display: none;
    }
    .product-item {
        flex-direction:row;
        align-items: flex-start;
    }
    .product-quantity {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }
    .section-content {
        flex-direction: column;
        align-items: center;
    }
    .section-left, .section-right {
        width: 100%;
        align-items: center;
    }
    .fa-search{
        font-size: 25px;
        padding-left: 50%;
    }
    .fa-cart-shopping, .fa-user{
        font-size: 25px;
    }
    section.productcart-section{
        margin-top: 27.3%;
    }
    .login-box{
        background-color: white;
        width: 70%;
        height: 60%;
        border-radius: 20px;
        margin: 0 auto;
    }

}



@media screen and (min-width: 760px) {
    .modificar {
        width: 20%;
    }
    .product-details {
        display: flex;
        flex-direction: row;
    }
    .descripcion{
        display: block;
    }
    .box-flex{
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-linea {
    align-items: baseline;
    }
    footer{
        display: flex;
    }
    .nav{
        
        max-height: 80px;
    }
    .logo{
        padding-top: 2%;
        width: 25%;
    }
    .productcard-header-actions{
        font-size: 20px;
        width: 15%;
    }
    .banner{
        padding-right: 10%;
        padding-left: 10%;
    } 
    .centrado {
        padding-top: 1.5%;
        width: 100%;
        background-color: #393939;
        justify-content: space-around;
    }
    .logo-footer{
        background-color: #393939;
        display: flex;
        width: 100%;
        padding-left: 20%;
    }
    .div-logo-footer{
    background-color:#393939;
    align-items: center;
    display: flex;

    }
    .product-item {
        flex-direction: row;
        align-items: center;
    }
    .product-quantity {
        flex-direction: column;
        justify-content: space-between;
    }
    .section-content {
        flex-direction: row;
        justify-content: center;
    }
    .section-left {
        flex-direction: column;
        justify-content:center;
        width: 90%;
    }
    .section-right{
        flex-direction: column;
        justify-content:space-between;
        width: 40%;
    }
    .payment-section{
        width: 30%;
    }
    section.productcart-section{
        margin-top: 6.2%;
    }

    .login-box{
        background-color: white;
        width: 35%;
        height: 60%;
        border-radius: 20px;
        margin: 0 auto;
    }
}