<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Creación de productos</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="login-box">
    <form class="register__form" action="/products/create"  method="POST" enctype="multipart/form-data" id="form-create">
        <div>
            <label for="nombreProducto">Nombre del Producto:<span class="register__required--red">*</span></label>
            <input type="text" id="nombreProducto" name="name" required autofocus minlength="6">
                <div class="error-message" id="errName">
                </div>
        </div>

        <div>
            <label for="category">Categoria:<span class="register__required--red">*</span></label>
            <select name="category" id="categoriaProducto" required>
                <option value="1">Sabanas</option>
                <option value="2">Acolchados</option>
                <option value="3">Cortinas</option>
                <option value="4">Velas</option>
                <option value="5">Esencias</option>
            </select>
                <div class="error-message" id="errCategory">
                </div>
        </div>

        <div>
            <label for="stock">Stock:<span class="register__required--red">*</span></label>
            <input type="number" id="stock" name="stock" required min="0">
                <div class="error-message" id="errStock">
                </div>
        </div>

        <div>
            <label for="imagenProducto">Imagen:</label>
            <input type="file" id="imgProducto" name="image">
                <div class="error-message" id="errImage">
                </div>
        </div>

        <div>
            <label for="precioProducto">Precio:<span class="register__required--red">*</span></label>
            <input type="number" name="price" id="precioProducto" required min="0">
                <div class="error-message" id="errPrice">
                </div>
        </div>

        <div>
            <label for="descripcionProducto">Descripción:<span class="register__required--red">*</span></label>
            <textarea name="description" id="descripcionProducto" minlength="10" required></textarea>
                <div class="error-message" id="errDescription">
                </div>
        </div>

        <div class="button-container">
            <button type="submit">Agregar</button>
        </div>
    </form>
    </div>
    <script src="/js/validationCreateProduct.js" defer></script>
</body>
</html>