<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Creación o actualización de productos</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="register__container">
    <form method="POST" class="register__form">
        <label for="idProducto">Id del Producto:<span class="register__required--red">*</span></label>
        <input type="number" id="idProducto" name="idProducto" required>
        <label for="nombreProducto">Nombre del Producto:<span class="register__required--red">*</span></label>
        <input type="text" id="nombreProducto" name="nombreProducto" required>
        <label for="categoria">Categoria:<span class="register__required--red">*</span></label>
        <select name="categoriaProducto" id="categoriaProducto">
            <option value="velas">Velas</option>
            <option value="esencias">Esencias</option>
            <option value="toallas">Toallas</option>
            <option value="sabanas">Sabanas</option>
            <option value="cortinas">Cortinas</option>
            <option value="cubrecamas">Cubrecamas</option>
        </select>
        <label for="colorProducto">Color:<span class="register__required--red">*</span></label>
        <input type="text" id="colorProducto" name="colorProducto" required>
        <label for="imagenProducto">Imagen:<span class="register__required--red">*</span></label>
        <input type="file" id="imgProducto" name="imgProducto" multiple required>
        <label for="precioProducto">Precio:<span class="register__required--red">*</span></label>
        <input type="number" name="precioProducto" id="precioProducto" required>
        <label for="descripcionProducto">Descripcion:<span class="register__required--red">*</span></label>
        <textarea name="descripcionProducto" id="descripcionProducto" required></textarea>
        <div class="button-container">
            <button type="submit">Agregar</button>
            <button type="submit">Editar</button>
        </div>
    </form>
    </div>
</body>
</html>