<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Creación o actualización de productos</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="login-box">
        <div class="register__form">
            <h3>Agregar Producto</h3>
            <a href="/products/create"></a><button type="submit">Agregar</button></a>
        </div>
    </div>
</body>
</html>