<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs',{'datos':datos.activar}) %>
    <title>Carrito de Compras</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
        <main class="productcart-main">
            <section class="product-list">
                <section class="product-item">
                    <div ></div><img class="product-image" src="/img/perfume2.png" ></div>
                    <div class="product-cart-details">
                        <span class="product-name">Perfumes varios</span>
                        <span class="product-code">Cod. #555</span>
                        <span class="product-price">$5.102</span>
                        <div class="product-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">1</span>
                        <button class="quantity-btn">+</button>
                    </div>
                    <button class="remove-btn">Remove</button>
                    </div>
                </section>
                    
                <section class="product-item">
                    <div><img class="product-image" src="/img/Funda de Edredón de Tusor Pesado CRUDO.png" ></div>
                    <div class="product-cart-details">
                        <span class="product-name">Funda endredon tusor</span>
                        <span class="product-code">Cod. #123</span>
                        <span class="product-price">$10.000</span>
                        <div class="product-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">3</span>
                        <button class="quantity-btn">+</button>
                </div>
                    <button class="remove-btn">Remove</button>
            </section>
            <section class="product-item">
                <div><img class="product-image" src="/img/Perfume1.png" ></div>
                <div class="product-cart-details">
                    <span class="product-name">Perfume lavanda</span>
                    <span class="product-code">Cod. #685</span>
                    <span class="product-price">$5.102</span>
                    
                    <div class="product-quantity">
                    <button class="quantity-btn">-</button>
                    <span class="quantity-number">2</span>
                    <button class="quantity-btn">+</button>
                </div>
                <button class="remove-btn">Remove</button>
            </section>
        </main>
        <section class="productcart-section">
            <div class="section-content">
                <div class="section-left">
                    <div class="total-amount">
                        <span>TOTAL: $ 35.102</span> 
                    </div>
                    <div class="shipping-info">
                        <span>Envío. <a href="#">Calcular envío</a></span>
                    </div>
                </div>
            <div class="section-right">
                    <button class="section-btn">LIMPIAR CARRO</button>
                    <button class="section-btn">SEGUIR COMPRANDO</button>
                </div>
            <div class="payment-section">
                <button class="pay-btn">PAGAR</button>
            </div>
        </section>
    
        <%- include('../partials/footer.ejs') %>
</body>
</html>
